.container {
    position: relative;
    height: 54vw;
    width: 100%;
    object-fit: contain;
    top: 0;
}

.containerInfo {
    position: absolute;
    bottom: 35%;
    left: 4%;
}

.containerInfo h1 {
    color: white;
    text-shadow: 2px 2px 8px black;
}

.buttons {
    display: flex;
}

.button  {
    outline: none;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    width: auto;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    opacity: 0.8;
}

.fade {
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);    
    background-size: 100% 100%;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 14.7vw;
    position: absolute;
    bottom: 0;
    opacity: 1;
}